.card {
  padding: 20px;
  border: 4px solid #fff;
  border-radius: 6px;
  max-width: 200px;
  height: 300px;
  position: relative;
  .content {
    @extend h3;
    line-height: 1.3em;
    text-align: left;
  }
  .instructions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    .draw {
      margin-bottom: 5px;
    }
    span.count {
      color: #000;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      line-height: 20px;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      margin-bottom: 3px;
      text-align: center;
    }
  }
  &.tiny-text {
    .content {
      font-size: 1em;
    }
  }
  &.waiting {
    background: $charcoal;
    border-color: $charcoal;
    color: #000;
    opacity: .75;
  }
  &.answer {
    background: #fff;
    border-color: #fff;
    color: #000;
  }
  &.selected {
    border-color: $primary-color;
    &:after {
      content: "played";
      position: absolute;
      background: $primary-color;
      color: #fff;
      text-transform: uppercase;
      font-size: 1em;
      text-align: right;
      line-height: 40px;
      border-radius: 100px;
      bottom: -20px;
      height: 40px;
      /*width: 100px;*/
      left: 50%;
      margin-left: -55px;
      padding-right: 20px;
      padding-left: 40px;
      z-index: 1;
    }
    @extend .icon;
    @include icon-font($smile-o);
    &:before {
      position: absolute;
      bottom: -13px;
      z-index: 2;
      color: #fff;
      left: 50%;
      margin-left: -43px;
      font-size: 25px;
    }
  }
  &.winner {
    background: #fff;
    color: #000;
    border: 3px solid $success-color;
    height: 280px;
    &:after {
      content: "winner";
      position: absolute;
      background: $success-color;
      color: #fff;
      text-transform: uppercase;
      font-size: .75em;
      text-align: right;
      line-height: 40px;
      border-radius: 100px;
      bottom: -20px;
      height: 40px;
      /*width: 100px;*/
      left: 50%;
      margin-left: -55px;
      padding-right: 20px;
      padding-left: 40px;
      z-index: 1;
    }
    @extend .icon;
    @include icon-font($smile-o);
    &:before {
      position: absolute;
      bottom: -13px;
      z-index: 2;
      color: #fff;
      left: 50%;
      margin-left: -43px;
      font-size: 25px;
    }
  }
}

.cards {
  text-align: center;
  .card {
    display: inline-block;
    margin: 0 10px 20px 10px;
    vertical-align: top;
    font-size: .6em !important;
    height: 180px;
    width: 140px;
    .instructions {
      display: none;
    }
  }
}

// TODO: move this to another file (a layout file?)
.prompt-and-answers {
  margin: 20px 0;
  .prompt {
    .prompt-label {
      display: none;
      text-align: center;
      margin-bottom: 20px;
    }
    .card {
      margin: 0 auto 20px;
    }
  }
  .cards {
    max-width: 650px;
    margin: 50px auto;
    .card.answer {
      @include transition(.2s);
      &.selected {
        border-color: $primary-color;
      }
      &.winner {
        border-color: $success-color;
      }
    }
    &.select-to-play {
      .card.answer:hover {
        @include scale(1.1);
        border-color: $primary-color;
      }
    }
    &.select-winner {
      .card.answer:hover {
        @include scale(1.1);
        border-color: $success-color;
      }
    }
  }
  &.user-is-tzar {
    .prompt-label {
      display: block;
    }
  }
}
