* {
  @include box-sizing(border-box);
}

body {
  font-size: 100%;
  font-family: $body-font-family;
  background: #000;
  color: #fff;
  &:before, &:after {
    display: none !important;
  }
}

p, li {
  color: $body-color;
}

a {
  color: $link-color;
  &:hover {
    cursor: pointer;
  }
}
