.container
  %h1 Pixels Against Humanity
  %h3
    %span.br A party game
    %span.br for horrible people
    %span.br with technology
  .buttons
    %button.button.alert Start New Game
    %button.button Join Game
  .game-parameters
    .label.stat
      .title Ages
      .value 17+
    .label.stat
      .title Time
      .value 30-90 mins
    .label.stat
      .title Players
      .value 4 to 20+
  %h5.not-uppercase Play Cards Against Humanity with mobile devices or include a large monitor as a board.
