// This file is a manifest. Only imports should exist in this file
// except for the scratchpad section on the bottom (which should
// eventually be refactored out of the file into its appropriate place).
//
// Also, components should follow a naming convention. Class, .scss & .haml
// names should be the same. Example: .top-bar class should live in
// /src/style/components/_top-bar.scss and
// /src/structure/components/_top-bar.haml files.

@charset "utf-8";

// Use compass for mixins and other cross-browser front-end solutions
// docs: http://compass-style.org
@import "compass";
@import "compass/css3";

@import "susy"; // grid math gem
@import "breakpoint"; // media-query mixins

// Sort of like reset but more modern and sensible
@import "normalize"; // v3.0.1

// 3rd party stuff
@import "vendor/font-awesome"; // icon fonts (http://fontawesome.io)

// Partials
@import "variables"; // Colors, measurments, base fonts, etc.
@import "helpers"; // style class hacks

// Base HTML styles (Tables, Forms, Lists, Headings/Type)
@import "base/html-body";
@import "base/typography";
@import "base/forms";
@import "base/layout";

// Components like buttons, labels, topbar
@import "components/labels";
@import "components/buttons";
@import "components/card";
@import "components/landing";

// Sections and Pages
// @import "regions/region";

// styleguide styles
//@import 'styleguide';

// =======================================================================
// Scratchpad: a CSS playground or "inbox" to be refactored later.
// =======================================================================

.data-text {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: .8em;
  color: $secondary-color;
}

hr {
  border: none;
  height: 1px;
  background: $secondary-color;
  margin: 15px 0;
}
